# parsing
ply
CppHeaderParser



PyQt4


# bottle
configparser
pyyaml

pyzmq
# http://blog-tree.com/post/2013/11/daemons-under-supervisor
pyzmq
bsddb3
psycopg2

pyOpenSSL

matplotlib


# key-value: simple
# pickledb
git+https://github.com/WarmongeR1/pickledb.git
umemcache
python-ultramemcached

# statistic
graphviz
pycallgraph
